<div class="displayBox">
    <h3>Equipment</h3>
    <ol>
        <li *ngFor="let item of equipmentItems">
            <!-- "Add to Cargo Hold" button goes here. -->
           
            {{item.name}}, {{item.mass}} kg
            <!-- <button [class.active]="item.mass+cargoMass<=maximumAllowedMass && cargoHold.length < maxItems" [disabled]="item.mass+cargoMass>maximumAllowedMass || cargoHold.length >= maxItems" (click)="addItem(item)">Add to Cargohold</button>-->
         <button *ngIf ="cargoHold.length < 10 || maximumAllowedMass-cargoMass <= 2000  ; else active" (click)= " addItem(item)" >Add to Cargohold</button>
            <ng-template #active>
                <button (click)= " addItem(item)" disabled >Add to Cargohold</button>
            </ng-template> 
        </li>
    </ol>
    
</div>

<hr>

<div class = "displayBox">
    <h3>Cargo Hold: {{cargoHold.length}}/{{maxItems}} Spots Filled</h3>
    <ol>
        <li *ngFor="let equipment of cargoHold">{{equipment.name}}</li>
    </ol>
    <p>Mass in Hold: {{cargoMass}} kg</p>
    <p *ngIf ="maximumAllowedMass-cargoMass > 200 ; else red ">Mass Budget Remaining: {{maximumAllowedMass-cargoMass}} kg</p>
    <ng-template #red>
        <p style="color:red">Mass Budget Remaining: {{maximumAllowedMass-cargoMass}} kg</p>
    </ng-template>
    <!-- Add the "Empty Hold" button here. -->
</div>

